body{
  font-family: 'PT Sans Caption', sans-serif;
  font-size:  18px;
}
a,a:link,a:visited{
  color: white;
  text-decoration:none;
}
a:hover{
  color: #96ff77;
}
#header-container{
  background: #1f87d2;
  color:white;
}
.titular{
  font-family: 'Francois One', sans-serif;
  padding: 10px 5px;
}

#menu-container{
  background: rgba(31, 135, 210, 0.21);
}
.btn-bootshoptrap{
  background: #52cca1;
  color: #133127;
}
input.form-control:focus{
  border-color: #1f87d2;
}

#carosel-container .carousel-item figure img{
  width: 100%;
}
#carosel-container .carousel-item figure{
  position: relative;
  text-align: center;
}

#carosel-container .carousel-item figure::after{
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background:linear-gradient(to right,
      rgba(31, 135, 210,1) 0%,
      rgba(31, 135, 210,1) 20%,
      rgba(0,0,0,0) 52%,
      rgba(31, 135, 210,1) 79%,
      rgba(31, 135, 210,1) 100%)
}
.carousel-control.right,.carousel-control.left{
  background-image: none;
}
.carousel-control .icon-next,.carousel-control .icon-prev{
    background: #1f87d2;
    width: 50px;
    height: 50px;
    top: 45%;
    border-radius: 50%;
}
.carousel-control .icon-next::before,.carousel-control .icon-prev::before{
  font-size: 3em;
  position: relative;
  top: -29px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border: solid white 2px;
  margin-left: 10px;
}
.carousel-indicators .active{
  width: 25px;
  height: 25px;
  background: #1f87d2;
  border: none;
}

.carousel-caption {
  text-shadow: 2px 2px 1em black;
  color: #ffedd1;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-caption p{
  background: rgba(143, 55, 39, 0.52);
  padding: 20px;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
}
.carousel-caption h3{
  background: rgba(81, 81, 115, 0.65);
  padding: 10px 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
}
#caracteristicas-container img{
  margin: 0 auto;
  padding: 20px 50px;
}
#caracteristicas-container{
  background: #36b3d4;
  padding: 20px 0;
  margin-top: -17px;
  color: white;
  font-family: 'Francois One', sans-serif;
}

#footer-container{
  background: #23375f;
  padding: 3em 0;
  color:white;
}
#footer-container h4{
  font-size: 18px;
}
#breadcrumb{
  background: #eaf7eb;
  margin-top: 10px;
}

.list-group{
  margin-top: 20px;
  border: solid #49e4df 1px;
  border-radius: 4px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: rgb(35, 125, 122);
  border:none;
  font-family: 'Francois One', sans-serif;
}
a.list-group-item-action{
  color: #3a3838;
}
.tag-default{
  background-color: #477fab;
}
.breadcrumb-item+.breadcrumb-item::before{
  content: ">>";
}
#breadcrumb a{
  color: #296b54;
}
@media (max-width:543px) {
  .carousel-control .icon-next::before,
  .carousel-control .icon-prev::before{
    top:-12px;
  }
}
@media (max-width:768px) {
  .carousel-caption h3{
    border-radius: 10px;
    font-size: 18px;
  }
  #footer-container[class*="col-"]{
    margin-bottom: 2em;
  }
}

@media (max-width:900px) {
  #carosel-container .carousel-item figure::after{
      background: none;
  }
}
