body{
  font-family: 'PT Sans Caption', sans-serif;
  font-size:  18px;
}
a,a:link,a:visited{
  color: white;
  text-decoration:none;
}
a:hover{
  color: #96ff77;
}
#header-container{
  background: #1f87d2;
  color:white;
}
.titular{
  font-family: 'Francois One', sans-serif;
  padding: 10px 5px;
}

#menu-container{
  background: rgba(31, 135, 210, 0.21);
}
.btn-bootshoptrap{
  background: #52cca1;
  color: #133127;
}
input.form-control:focus{
  border-color: #1f87d2;
}
